@model HomeDetailsViewModel


@{
    ViewBag.Title = "Employee Details";
    //var photoPath = "seni.jpg";
    var photoPath = (Model.Employee.PhotoPath ?? "seni.jpg");


}

<h3>@Model.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <img class="card-img-top" src="~/images/@photoPath" />
            <h4>Employee ID: @Model.Employee.Id</h4>
            <h4>Employee ID: @Model.Employee.Name</h4>
            <h4>Employee ID: @Model.Employee.Department</h4>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>
       
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/CustomScript.js"></script>
 }
